.container-chargement {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-chargement, .card-chargement-propose, .card-offre-chargement-propose {
    width: 100%;
    box-shadow: 2px 2px 5px #474747;
}

.titre-card-chargement {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.form-chargement {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#nom-chargement, #prix-chargement {
    width: 50%;
}

.nom-chargement-update {
    width: 20%;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.nom-chargement-propose {
    font-size: 2rem;
    margin-top: 10px;
}

.modalite {
    color: #FF5252;
    margin-top: 10px;
    font-weight: bold;
}

.button-card-chargement {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-edit-chargement, .btn-edit-suppression {
    border-radius: 5px;
    padding: 7px;
    color: white;
}

.btn-edit-chargement {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.btn-edit-suppression {
    background-color: tomato;
}

.btn-edit-suppression a:hover {
    text-decoration: none;
    color: white;
}

.btn-edit-chargement a:hover {
    text-decoration: none;
    color: white;
}

.btn-edit-suppression a {
    color: white;
}

.btn-edit-chargement a {
    color: white;
}


.card-update-chargement {
    width: 50%;
    box-shadow: 2px 2px 5px #474747;
    margin-left: auto;
    margin-right: auto;
}

.form-chargement-update {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.form-chargement-update input {
    margin-left: auto;
    margin-right: auto;
}

.update-chargement-button {
    margin-top: 10px;
    margin-left: 30vh;
}

.card-offre-chargement-propose{
    margin: 20px;
}

