.pen-edit{
    width: 15px;
    height: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-forfait{
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

.img-pen{
    padding-top: 5px;
    padding-right: 10px;
}

.add-forfait-link{
    font-weight: bold;
}

.add-forfait-link:hover{
    text-decoration: underline;
}

.infos-mon-chargement{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.cadre-modalite-chargement{
    border: 1px dotted black;
    border-radius: 7px;
    width: 25vw;
    margin: 0 auto;
    margin-top: 12vh;
    padding: 20px;
}

.modalite-chargement{
    color: red;
}