.card-update {
    width: 50%;
    box-shadow: 2px 2px 5px #474747;
    margin-left: auto;
    margin-right: auto;
}

.titre-update{
    font-size: 20px;
    margin-top: 15px;
}

.form-update{
    display: flex;
    justify-content: space-around;
    margin: 13px;
}

.update-button{
    margin-top: 20px;
    margin-left: 28vh;
}

.form-update-seance{
    display: flex;
    justify-content: column;
    margin: 13px;
}

.form-update-seance select, input{
    margin-left: 20px;
}

.titre-update-seance{
    text-align: center;
    margin-bottom: 40px;
}

.div-formulaire-update-seance{
    width: 40vw;
    margin: 0 auto;

}